<section id="about" class="section">
  <div class="container">
    <div class="row align-items-center justify-content-center">

      <!-- col -->
      <div class="col-md-7">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="section-title">
              <h2 class="dark-color theme-after">Become a Franchise</h2>
            </div>
          </div>
        </div>
        <div class="sub-title m-45px-b">

          <p class="align-justify">If you are a logistics enthusiast, having commendable experience in
            freight management, then you can now become partner with MMG
            and start earning like never before. With our advanced marketing techniques,
            we will drive more daily bookings towards your franchise.</p>
        </div>
        <a [href]="directionUrl" target="_blank" class="btn btn-theme btn-lg">Register Now</a>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 md-m-30px-b">
        <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
          <div class="timeline-block">
            <span class="timeline-step badge-primary">
              <i class="fas fa-user-plus"></i>
            </span>
            <div class="timeline-content">
              <div class="d-flex justify-content-between pt-3">
                <div>
                  <span class="text-muted text-sm font-weight-bold">Register</span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-block">
            <span class="timeline-step badge-primary">
              <i class="fas fa-file-alt"></i>
            </span>
            <div class="timeline-content">
              <div class="d-flex justify-content-between pt-3">
                <div>
                  <span class="text-muted text-sm font-weight-bold">Submit Documents</span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-block">
            <span class="timeline-step badge-primary">
              <i class="fas fa-user-check"></i>
            </span>
            <div class="timeline-content">
              <div class="d-flex justify-content-between pt-3">
                <div>
                  <span class="text-muted text-sm font-weight-bold">Background Check</span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-block">
            <span class="timeline-step badge-primary">
              <i class="fas fa-plane-departure"></i>
            </span>
            <div class="timeline-content">
              <div class="d-flex justify-content-between pt-3">
                <div>
                  <span class="text-muted text-sm font-weight-bold">Get Onboarded</span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-block">
            <span class="timeline-step badge-primary">
              <i class="fas fa-rupee-sign"></i>
            </span>
            <div class="timeline-content">
              <div class="d-flex justify-content-between pt-3">
                <div>
                  <span class="text-muted text-sm font-weight-bold">Start Earning</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="section bg-gray">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02">
          <div class="icon theme-after">
            <i class="fas fa-unlink theme-bg"></i>
          </div>
          <p>Early Break Even</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02">
          <div class="icon theme-after">
            <i class="fas fa-desktop theme-bg"></i>
          </div>
          <p>High ROI</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02">
          <div class="icon theme-after">
            <i class="fas fa-th"></i>
          </div>
          <p>Best user Experience</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02 border-right-0">
          <div class="icon theme-after">
            <i class="fas fa-user-tie"></i>
          </div>
          <p>B2B Enterprise Connections</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02 border-bottom-0">
          <div class="icon theme-after">
            <i class="fas fa-tachometer-alt theme-bg"></i>
          </div>
          <p>Dashboard To View Manage Bookings, Drivers, Vehicles And Revenue</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02 border-bottom-0">
          <div class="icon theme-after">
            <i class="fas fa-mobile theme-bg"></i>
          </div>
          <p>Web And Mobile App</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02 border-right-0 border-bottom-0">
          <div class="icon theme-after">
            <i class="fas fa-headset"></i>
          </div>
          <p>24/7 Customer Support</p>
        </div>
      </div>
    </div>
  </div>
</section>