<div class="container mt-4">
    <h1 class="text-center" mat-dialog-title>Offline Booking</h1>
    <hr class="seperator">
    <div class="row">
        <div class="justify-content-end">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
            </mat-form-field>
            
        </div>
    </div>
    <div>
        <mat-tab-group (selectedTabChange)="tabChange($event)">
            <mat-tab *ngFor="let list of tabList " [label]="list.label">
               
                
                <div class="example-container mat-elevation-z8 mt-2">
                    <mat-table [dataSource]="operationOfflinebookinglist" matSort>

                        <ng-container matColumnDef="bookingId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Booking-ID</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="bookingId" class="cursor-pointer" (click)="bookingId">
                             <u>{{element.firstName}} </u>
                                    
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="source">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Source
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="source"> {{element.source}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="destination">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Destination</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="destination"> {{element.destination}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="goodsType">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15">Goods Type</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="goodsType"> {{element.goodsType}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="goodsWeight">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Goods Weight
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="goodsWeight"> {{element.goodsWeight}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="totalAmount">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Total Amount</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="totalAmount"> {{element.totalAmount}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-05"> Action</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="Action"data-label="Action" class="cursor-pointer"
                            (click)="viewDriver(element)"> {{element.Action}} 
                                <button mat-raised-button color="accent" (click)="update()">VIEW</button>
                            </mat-cell>
                        </ng-container>
                        
                        <mat-header-row *matHeaderRowDef="offlinebookingdisplayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: offlinebookingdisplayColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>