<div class="centeralign">

<h3>Create Employee list</h3>

<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        

        <!-- <div class="form-group">
            <label for="name">id</label>
            <input type="text" class="form-control" id="id" required [(ngModel)]="employee.id" name="id">
        </div> -->
        <div class="form-group">
            <label for="name">firstName</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
        </div>
 
        <div class="form-group">
            <label for="name">lastName</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label for="name">gender</label>
            <input type="text" class="form-control" id="gender" required [(ngModel)]="employee.gender" name="gender">
        </div>
        <div class="form-group">
            <label for="name">address</label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="employee.address" name="address">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
</div>