<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Franchise Enquiry</span><span class="float-right font-weight-bold" *ngIf="franchiseCount">{{franchiseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationFranchiseenquiry']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Fleet Enquiry</span><span class="float-right font-weight-bold" *ngIf="fleetenquiryCount">{{fleetenquiryCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationFleetenquiry']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Warehouse Enquiry</span><span class="float-right font-weight-bold" *ngIf="warehouseenquiryCount">{{warehouseenquiryCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationWarehouseenquiry']">
                    <h1><i class="fas fa-warehouse color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Driver Requests</span><span class="float-right font-weight-bold" *ngIf="driverCount">{{driverCount.total}}</span></div>
                    <div class="card-body text-center cursor-pointer" [routerLink]="['/operationDriverrequest']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                     </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Vehicle Requests</span><span class="float-right font-weight-bold" *ngIf="vehicleCount">{{vehicleCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationVehiclerequest']">
                    <h1><i class="fas fa-truck color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Labour Requests</span><span class="float-right font-weight-bold" *ngIf="labourCount">{{labourCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationLabourrequest']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Enterprise Requests</span><span class="float-right font-weight-bold" *ngIf="enterpriseCount">{{enterpriseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationEnterpriserequest']">
                    <h1><i class="fas fa-chart-bar color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
</div>>
