<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Franchises</span><span class="float-right font-weight-bold" *ngIf="franchiseCount">{{franchiseCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationalFranchise']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Active</span><span class="float-right font-weight-bold" *ngIf="francshieactivecount">{{francshieactivecount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationalFranchise']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Inactive</span><span class="float-right font-weight-bold" *ngIf="francshieinactivecount">{{francshieinactivecount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationalFranchise']">
                    <h1><i class="fas fa-warehouse color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
