<div class= "detais">
<h2>Employee Details</h2> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>id: </b></label> {{employee.id}}
  </div>
  <div>
    <label><b>firstName </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>lastName </b></label> {{employee.lastName}}
  </div> 
  <div>
    <label><b>gender </b></label> {{employee.gender}}
  </div>
  <div>
    <label><b>address </b></label> {{employee.address}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>
</div>