<div class="container mt-4">
    <h1 class="text-center" mat-dialog-title>Driver Request</h1>
    <hr class="seperator">
    <div class="row">
        <div class="justify-content-end">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
            </mat-form-field>
        </div>
    </div>
    <div>
                      
                <div class="example-container mat-elevation-z8 mt-2">
                    <mat-table [dataSource]="operationDriverrequestlist" matSort>

                        <ng-container matColumnDef="driverId">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="driverId"> {{element.driverId}} </mat-cell>
                        </ng-container>
                        

                        <ng-container matColumnDef="firstName">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="firstName"> {{element.firstName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="mobileNumber">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Mobile Number </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="mobileNumber"> {{element.mobileNumber}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="emailId">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Email-ID</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="emailId"> {{element.emailId}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="creationDate">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20"> Request Date</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="creationDate"> {{element.creationDate}} </mat-cell>
                        </ng-container>
                        <!-- <ng-container matColumnDef="creationDate">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-10"> Request Date</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="creationDate"> {{element.creationDate}} </mat-cell>
                        </ng-container> -->
                        <ng-container matColumnDef="Action">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-05"> Action</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="Action"data-label="Action" class="cursor-pointer"
                            (click)="viewDriver(element)"> {{element.Action}} 
                                <button mat-raised-button color="accent" (click)="update()">VIEW</button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="driverrequestdisplayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: driverrequestdisplayColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
    </div>
</div>

