<header>
  <nav class="navbar header-nav custom-header-nav navbar-expand-lg bg-theme-gradient">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img [src]="logoUrl" width="120" title="" alt="MMG">
      </a>
      <a class="text-white font-weight-bold d-lg-none d-sm-block d-md-block cursor-pointer" href="tel:901 902 903 7">
        <i class="fas fa-phone mr-2 rotate-icon"></i>901 902 903 7</a>
      <a class="navbar-toggler d-none" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars text-white"></span>
      </a>
      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbar">
        <div class="mr-auto pt-2 pl-3 border-left">
          <h5 class="text-white font-weight-bold cursor-pointer">
            <i class="fas fa-phone mr-2 rotate-icon"></i><a class="text-white" href="tel:901 902 903 7">901 902 903 7</a></h5>
        </div>
        <ul class="navbar-nav ml-auto align-items-center">
          <li>
            <a class="nav-link cursor-pointer" (click)="openModal()">
              <i class="fas fa-user mr-1"></i>Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--<div class="nav-scroller bg-white box-shadow shadow-sm d-lg-none d-sm-block d-md-block">
    <div class="btn-group btn-block" role="group" aria-label="Basic example">
      <a class="btn btn-dark cursor-pointer text-white" (click)="openModal()"><i class="fas fa-user mr-1"></i>Login</a>
    </div>
    <owl-carousel-o class="nav nav-underline nav-mobile" [options]="customOptions">
      <ng-container *ngFor="let slide of slidesStore">
          <ng-template carouselSlide><a class="nav-link" [ngClass]="{'active': slide.name==selectedSlide}" (click)="changeCarousel(slide)">{{slide.name}}</a></ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <div class="bottom-nav bg-white box-shadow fixed-bottom d-lg-none d-sm-block d-md-block">
    <ul class="nav nav-fill nav-bottom">
      <li class="nav-item" [ngClass]="{'active': item.name==selectedItem}" *ngFor="let item of bottomNavItems">
        <a class="nav-link cursor-pointer" (click)="bottomNavChange(item)">
          <i [class]="item.class"></i>
          {{item.name}}
        </a>
      </li>
    </ul>
  </div>-->
</header>