@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #333333;
    font-smoothing: antialiased;
    font-weight: 400;
    overflow-x: hidden;
    letter-spacing: 0.5px;
}
/*==============================
  Margins
================================*/

/*Margin All*/
.m-auto-all { margin: auto;}
.m-0px { margin: 0;}
.m-5px {margin:5px}
.m-10px {margin:10px}
.m-15px {margin:15px}
.m-20px {margin:20px}
.m-25px {margin:25px}
.m-30px {margin:30px}
.m-35px {margin:35px}
.m-40px {margin:40px}
.m-45px {margin:45px}
.m-50px {margin:50px}
.m-55px {margin:55px}
.m-60px {margin:60px}
.m-65px {margin:65px}
.m-70px {margin:70px}
.m-75px {margin:75px}
.m-80px {margin:80px}
.m-85px {margin:85px}
.m-90px {margin:90px}
.m-95px {margin:95px}
.m-100px {margin:100px}

/*Margin top buttom*/
.m-0px-tb  {margin-top:0px;  margin-bottom:0px;}
.m-5px-tb  {margin-top:5px;  margin-bottom:5px;}
.m-10px-tb {margin-top:10px; margin-bottom:10px;}
.m-15px-tb {margin-top:15px; margin-bottom:15px;}
.m-20px-tb {margin-top:20px; margin-bottom:20px;}
.m-25px-tb {margin-top:25px; margin-bottom:25px;}
.m-30px-tb {margin-top:30px; margin-bottom:30px;}
.m-35px-tb {margin-top:35px; margin-bottom:35px;}
.m-40px-tb {margin-top:40px; margin-bottom:40px;}
.m-45px-tb {margin-top:45px; margin-bottom:45px;}
.m-50px-tb {margin-top:50px; margin-bottom:50px;}
.m-55px-tb {margin-top:55px; margin-bottom:55px;}
.m-60px-tb {margin-top:60px; margin-bottom:60px;}
.m-65px-tb {margin-top:65px; margin-bottom:65px;}
.m-70px-tb {margin-top:70px; margin-bottom:70px;}
.m-75px-tb {margin-top:75px; margin-bottom:75px;}
.m-80px-tb {margin-top:80px; margin-bottom:80px;}
.m-85px-tb {margin-top:85px; margin-bottom:85px;}
.m-90px-tb {margin-top:90px; margin-bottom:90px;}
.m-95px-tb {margin-top:95px; margin-bottom:95px;}
.m-100px-tb {margin-top:100px; margin-bottom: 100px;}

/*Margin left right*/
.m-0px-lr  {margin-left:0px; margin-right:0px}
.m-5px-lr  {margin-left:5px; margin-right:5px}
.m-10px-lr {margin-left:10px; margin-right:10px}
.m-15px-lr {margin-left:15px; margin-right:15px}
.m-20px-lr {margin-left:20px; margin-right:20px}
.m-25px-lr {margin-left:25px; margin-right:25px}
.m-30px-lr {margin-left:30px; margin-right:30px}
.m-35px-lr {margin-left:35px; margin-right:35px}
.m-40px-lr {margin-left:40px; margin-right:40px}
.m-45px-lr {margin-left:45px; margin-right:45px}
.m-50px-lr {margin-left:50px; margin-right:50px}
.m-55px-lr {margin-left:55px; margin-right:55px}
.m-60px-lr {margin-left:60px; margin-right:60px}
.m-65px-lr {margin-left:65px; margin-right:65px}
.m-70px-lr {margin-left:70px; margin-right:70px}
.m-75px-lr {margin-left:75px; margin-right:75px}
.m-80px-lr {margin-left:80px; margin-right:80px}
.m-85px-lr {margin-left:85px; margin-right:85px}
.m-90px-lr {margin-left:90px; margin-right:90px}
.m-95px-lr {margin-left:95px; margin-right:95px}
.m-100px-lr {margin-left:100px; margin-right:100px}


/*Margin top*/
.m-0px-t  {margin-top:0px}
.m-5px-t  {margin-top:5px}
.m-10px-t {margin-top:10px}
.m-15px-t {margin-top:15px}
.m-20px-t {margin-top:20px}
.m-25px-t {margin-top:25px}
.m-30px-t {margin-top:30px}
.m-35px-t {margin-top:35px}
.m-40px-t {margin-top:40px}
.m-45px-t {margin-top:45px}
.m-50px-t {margin-top:50px}
.m-55px-t {margin-top:55px}
.m-60px-t {margin-top:60px}
.m-65px-t {margin-top:65px}
.m-70px-t {margin-top:70px}
.m-75px-t {margin-top:75px}
.m-80px-t {margin-top:80px}
.m-85px-t {margin-top:85px}
.m-90px-t {margin-top:90px}
.m-95px-t {margin-top:95px}
.m-100px-t {margin-top:100px}

/*Margin Bottom*/
.m-0px-b {margin-bottom:0px}
.m-5px-b {margin-bottom:5px}
.m-10px-b {margin-bottom:10px}
.m-15px-b {margin-bottom:15px}
.m-20px-b {margin-bottom:20px}
.m-25px-b {margin-bottom:25px}
.m-30px-b {margin-bottom:30px}
.m-35px-b {margin-bottom:35px}
.m-40px-b {margin-bottom:40px}
.m-45px-b {margin-bottom:45px}
.m-50px-b {margin-bottom:50px}
.m-55px-b {margin-bottom:55px}
.m-60px-b {margin-bottom:60px}
.m-65px-b {margin-bottom:65px}
.m-70px-b {margin-bottom:70px}
.m-75px-b {margin-bottom:75px}
.m-80px-b {margin-bottom:80px}
.m-85px-b {margin-bottom:85px}
.m-90px-b {margin-bottom:90px}
.m-95px-b {margin-bottom:95px}
.m-100px-b {margin-bottom:100px}

/*Margin Left*/
.m-0px-l  {margin-left:0px}
.m-5px-l  {margin-left:5px}
.m-10px-l {margin-left:10px}
.m-15px-l {margin-left:15px}
.m-20px-l {margin-left:20px}
.m-25px-l {margin-left:25px}
.m-30px-l {margin-left:30px}
.m-35px-l {margin-left:35px}
.m-40px-l {margin-left:40px}
.m-45px-l {margin-left:45px}
.m-50px-l {margin-left:50px}
.m-55px-l {margin-left:55px}
.m-60px-l {margin-left:60px}
.m-65px-l {margin-left:65px}
.m-70px-l {margin-left:70px}
.m-75px-l {margin-left:75px}
.m-80px-l {margin-left:80px}
.m-85px-l {margin-left:85px}
.m-90px-l {margin-left:90px}
.m-95px-l {margin-left:95px}
.m-100px-l {margin-left:100px}

/*Margin right*/
.m-0px-r  {margin-right:0px}
.m-5px-r  {margin-right:5px}
.m-10px-r {margin-right:10px}
.m-15px-r {margin-right:15px}
.m-20px-r {margin-right:20px}
.m-25px-r {margin-right:25px}
.m-30px-r {margin-right:30px}
.m-35px-r {margin-right:35px}
.m-40px-r {margin-right:40px}
.m-45px-r {margin-right:45px}
.m-50px-r {margin-right:50px}
.m-55px-r {margin-right:55px}
.m-60px-r {margin-right:60px}
.m-65px-r {margin-right:65px}
.m-70px-r {margin-right:70px}
.m-75px-r {margin-right:75px}
.m-80px-r {margin-right:80px}
.m-85px-r {margin-right:85px}
.m-90px-r {margin-right:90px}
.m-95px-r {margin-right:95px}
.m-100px-r {margin-right:100px}
/*==============================
  Padding
================================*/

/*Padding All*/
.p-0px { padding: 0; }
.p-5px {padding: 5px}
.p-10px {padding:10px}
.p-15px {padding:15px}
.p-20px {padding:20px}
.p-25px {padding:25px}
.p-30px {padding:30px}
.p-35px {padding:35px}
.p-40px {padding:40px}
.p-45px {padding:45px}
.p-50px {padding:50px}
.p-55px {padding:55px}
.p-60px {padding:60px}
.p-65px {padding:65px}
.p-70px {padding:70px}
.p-75px {padding:75px}
.p-80px {padding:80px}
.p-85px {padding:85px}
.p-90px {padding:90px}
.p-95px {padding:95px}
.p-100px {padding:100px}

/*Padding Left Right*/
.p-0px-lr { padding-left: 0; ; padding-right: 0;  }
.p-5px-lr { padding-left: 5px; padding-right: 5px }
.p-10px-lr {padding-left:10px; padding-right:10px }
.p-15px-lr {padding-left:15px; padding-right:15px }
.p-20px-lr {padding-left:20px; padding-right:20px }
.p-25px-lr {padding-left:25px; padding-right:25px }
.p-30px-lr {padding-left:30px; padding-right:30px }
.p-35px-lr {padding-left:35px; padding-right:35px }
.p-40px-lr {padding-left:40px; padding-right:40px }
.p-45px-lr {padding-left:45px; padding-right:45px }
.p-50px-lr {padding-left:50px; padding-right:50px }
.p-55px-lr {padding-left:55px; padding-right:55px }
.p-60px-lr {padding-left:60px; padding-right:60px }
.p-65px-lr {padding-left:65px; padding-right:65px }
.p-70px-lr {padding-left:70px; padding-right:70px }
.p-75px-lr {padding-left:75px; padding-right:75px }
.p-80px-lr {padding-left:80px; padding-right:80px }
.p-85px-lr {padding-left:85px; padding-right:85px }
.p-90px-lr {padding-left:90px; padding-right:90px }
.p-95px-lr {padding-left:95px; padding-right:95px }
.p-100px-lr {padding-left:100px; padding-right:100px }

/*Padding Top Bottm*/
.p-0px-tb {padding-top:  0;   padding-bottom:  0;  }
.p-5px-tb {padding-top:  5px; padding-bottom:  5px }
.p-10px-tb {padding-top: 10px; padding-bottom: 10px }
.p-15px-tb {padding-top: 15px; padding-bottom: 15px }
.p-20px-tb {padding-top: 20px; padding-bottom: 20px }
.p-25px-tb {padding-top: 25px; padding-bottom: 25px }
.p-30px-tb {padding-top: 30px; padding-bottom: 30px }
.p-35px-tb {padding-top: 35px; padding-bottom: 35px }
.p-40px-tb {padding-top: 40px; padding-bottom: 40px }
.p-45px-tb {padding-top: 45px; padding-bottom: 45px }
.p-50px-tb {padding-top: 50px; padding-bottom: 50px }
.p-55px-tb {padding-top: 55px; padding-bottom: 55px }
.p-60px-tb {padding-top: 60px; padding-bottom: 60px }
.p-65px-tb {padding-top: 65px; padding-bottom: 65px }
.p-70px-tb {padding-top: 70px; padding-bottom: 70px }
.p-75px-tb {padding-top: 75px; padding-bottom: 75px }
.p-80px-tb {padding-top: 80px; padding-bottom: 80px }
.p-85px-tb {padding-top: 85px; padding-bottom: 85px }
.p-90px-tb {padding-top: 90px; padding-bottom: 90px }
.p-95px-tb {padding-top: 95px; padding-bottom: 95px }
.p-100px-tb {padding-top: 100px; padding-bottom: 100px }


/*Padding top*/
.p-0px-t  {padding-top:0px}
.p-5px-t  {padding-top:5px}
.p-10px-t {padding-top:10px}
.p-15px-t {padding-top:15px}
.p-20px-t {padding-top:20px}
.p-25px-t {padding-top:25px}
.p-30px-t {padding-top:30px}
.p-35px-t {padding-top:35px}
.p-40px-t {padding-top:40px}
.p-45px-t {padding-top:45px}
.p-50px-t {padding-top:50px}
.p-55px-t {padding-top:55px}
.p-60px-t {padding-top:60px}
.p-65px-t {padding-top:65px}
.p-70px-t {padding-top:70px}
.p-75px-t {padding-top:75px}
.p-80px-t {padding-top:80px}
.p-85px-t {padding-top:85px}
.p-90px-t {padding-top:90px}
.p-95px-t {padding-top:95px}
.p-100px-t {padding-top:100px}

/*Padding Bottom*/
.p-0px-b {padding-bottom:0px}
.p-5px-b {padding-bottom:5px}
.p-10px-b {padding-bottom:10px}
.p-15px-b {padding-bottom:15px}
.p-20px-b {padding-bottom:20px}
.p-25px-b {padding-bottom:25px}
.p-30px-b {padding-bottom:30px}
.p-35px-b {padding-bottom:35px}
.p-40px-b {padding-bottom:40px}
.p-45px-b {padding-bottom:45px}
.p-50px-b {padding-bottom:50px}
.p-55px-b {padding-bottom:55px}
.p-60px-b {padding-bottom:60px}
.p-65px-b {padding-bottom:65px}
.p-70px-b {padding-bottom:70px}
.p-75px-b {padding-bottom:75px}
.p-80px-b {padding-bottom:80px}
.p-85px-b {padding-bottom:85px}
.p-90px-b {padding-bottom:90px}
.p-95px-b {padding-bottom:95px}
.p-100px-b {padding-bottom:100px}

/*Padding Left*/
.p-0px-l  {padding-left:0px}
.p-5px-l  {padding-left:5px}
.p-10px-l {padding-left:10px}
.p-15px-l {padding-left:15px}
.p-20px-l {padding-left:20px}
.p-25px-l {padding-left:25px}
.p-30px-l {padding-left:30px}
.p-35px-l {padding-left:35px}
.p-40px-l {padding-left:40px}
.p-45px-l {padding-left:45px}
.p-50px-l {padding-left:50px}
.p-55px-l {padding-left:55px}
.p-60px-l {padding-left:60px}
.p-65px-l {padding-left:65px}
.p-70px-l {padding-left:70px}
.p-75px-l {padding-left:75px}
.p-80px-l {padding-left:80px}
.p-85px-l {padding-left:85px}
.p-90px-l {padding-left:90px}
.p-95px-l {padding-left:95px}
.p-100px-l {padding-left:100px}

/*Padding right*/
.p-0px-r  {padding-right:0px}
.p-5px-r  {padding-right:5px}
.p-10px-r {padding-right:10px}
.p-15px-r {padding-right:15px}
.p-20px-r {padding-right:20px}
.p-25px-r {padding-right:25px}
.p-30px-r {padding-right:30px}
.p-35px-r {padding-right:35px}
.p-40px-r {padding-right:40px}
.p-45px-r {padding-right:45px}
.p-50px-r {padding-right:50px}
.p-55px-r {padding-right:55px}
.p-60px-r {padding-right:60px}
.p-65px-r {padding-right:65px}
.p-70px-r {padding-right:70px}
.p-75px-r {padding-right:75px}
.p-80px-r {padding-right:80px}
.p-85px-r {padding-right:85px}
.p-90px-r {padding-right:90px}
.p-95px-r {padding-right:95px}
.p-100px-r {padding-right:100px}

@media (max-width: 767px){ 
  .p-sm-0px-t {
    padding-top: 0px;
  }
}

/* Custom Style */
.header-nav .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 0 12px;
    position: relative;
    line-height: 70px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #ffffff;
    background-color: transparent;
}
.header-nav .navbar-nav .nav-link:before {
    content: "";
    width: 0;
    height: 1px;
    display: inline-block;
    vertical-align: top;
    background: #323232;
    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    position: absolute;
    bottom: 22px;
    left: 12px;
}
.fixed-header .header-nav {
    background: #fff;
    box-shadow: 0 8px 50px -6px rgba(84,84,120,.26);
}
.custom-dropdown .dropdown-menu {
    border:0;
    box-shadow: 0 8px 20px -8px rgba(84,84,120,.26);
}
.custom-dropdown .dropdown-menu li a {
    text-align: left;
    font-size: 13px;
    color: #323232;
    margin: 0;
    display: block;
    position: relative;
    left: 0;
    padding: 8px 18px;
    font-weight: 600;
}
.header-nav .navbar-nav .nav-link-btn.btn-white:not(:hover) {
    color: #323232;
}
.header-nav .navbar-nav .nav-link-btn {
    font-size: 12px;
    font-weight: 700;
    padding: 7px 18px;
}
/* Header Ends */
/* Footer */
.subscribe-box {
    width: 400px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  .subscribe-box .form-control {
    height: 50px;
    border-radius: 30px;
    outline: none;
    padding: 3px 45px 3px 15px;
    font-size: 14px;
    border: none;
    box-shadow: 0 8px 50px -6px rgba(0, 0, 0, 0.4);
    width: calc(100% - 10px);
  }
  .subscribe-box button {
    height: 60px;
    color: #fff;
    position: absolute;
    top: -6px;
    right: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    width: 60px;
    border-radius: 50%;
  }
  
  
  .footer-dark {
    /*background: #000 Change */
    background: #610428;
    background: -webkit-linear-gradient(to right, #e21666, #610428);
    background: linear-gradient(to right, #e21666, #610428);
    box-shadow: 0 8px 50px -6px rgba(84,84,120,.26);
  }
  
  .footer-section {
    padding-top: 40px;
  }
  
  .footer-section h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding: 0 0 10px;
    margin: 0 0 15px;
  }
  .footer-section h4:after {
    content: "";
    width: 25px;
    height: 2px;
    /* background: #df1665; change */
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .footer-section .social-icons {
    margin: 20px 0 0 0;
    padding: 0;
  }
  .footer-section .social-icons li a:not(:hover) {
    background: rgba(255, 255, 255, 0.12);
  }
  
  .footer-section .fot-link {
    margin: 0;
    padding: 0;
  }
  .footer-section .fot-link li {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    font-size: 12px;
  }
  .footer-section .fot-link a {
    /*color: rgba(255, 255, 255, 0.61); Change */
    color: white;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    font-weight: 400;
  }
  .footer-section .fot-link a:hover {
    color: #fff;
  }
  .footer-section .fot-link a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: rgba(255,255,255,0.3);
    -webkit-transition: ease all 0.3s;
       -moz-transition: ease all 0.3s;
         -o-transition: ease all 0.3s;
            transition: ease all 0.3s;
  }
  .footer-section .fot-link a:hover:after {
    width: 100%;
  } 
  
  .footer-section .footer-text {
    max-width: 100%;
  }
  .footer-section p {
    margin-bottom: 10px;
    /* color: rgba(255, 255, 255, 0.64); Change */
    color: white;
  }
  
  .fot-address p {
    position: relative;
    padding-left: 28px;
    margin-bottom: 15px;
  }
  .fot-address p i {
    position: absolute;
    top: 4px;
    left: 0;
    color: #fff;
    font-size: 18px;
  }
  
  .footer-copy {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.19);
    padding: 15px 0;
  }
  .footer-copy p {
    margin: 0;
    font-size: 12px;
    /* color: rgba(255, 255, 255, 0.47); Change */
    color: white;
    font-weight: 300;
  }
  
  @media (max-width: 991px) {
    .footer-section {
      padding-top: 40px;
    }
    .footer-copy {
      margin-top: 30px;
    }
  }
  @media (max-width: 767px) {
    .footer-section {
      padding-top: 30px;
    }
    .footer-copy {
      margin-top: 20px;
    }
  }
  
  
  .footer-light {
    background: #fff;
    border-top: 1px solid #ddd;
  }
  .footer-light .footer-section h4 {
    color: #323232;
  }
  .footer-light .footer-section p {
      color: rgba(0, 0, 0, 0.75);
  }
  .footer-light .footer-section .social-icons li a {
    color: rgba(0, 0, 0, 0.75);
    background: rgba(88, 88, 88, 0.12);
  }
  .footer-light .footer-section .fot-link a {
    color: rgba(0, 0, 0, 0.75);
  }
  .footer-light .footer-copy {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .download-app-icon img {
      width:180px;
      border:1px solid rgba(255, 255, 255, 0.64);
      border-radius: 8px;
  }
  
/* Footer Ends */
/* Social Icons */
.social-icons {
    margin: 0;
    padding: 0;
  }
  .social-icons li {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
  }
  .social-icons li a {
    display: block;
    padding: 0;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
    border-radius: 5px;
  }
  .social-icons li a:hover {
    background: rgba(0,0,0,0.8);
    color: #fff;
  }
  .facebook {
    background: #3b5998 !important;
  }
  .twitter {
    background: #55acee !important;
  }
  .google {
    background: #dc4e41 !important;
  }
  .linkedin {
    background: #0077b5 !important;
  }
  .youtube {
    background: #cd201f !important;
  }
  .instagram {
    background: #3f729b !important;
  }
  .social-instagram {
    background-color: #fff;
    background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000) !important;
}
  .youtube:hover, .instagram:hover, .facebook:hover, .twitter:hover, .google:hover, .linkedin:hover, .btn-facebook:hover, .btn-whatsapp:hover, .btn-share:hover {
    opacity:0.7;
    color:#ffffff;
  }
/* Social Icons Ends */
/* Section Stats */
.section-stats {

}
.stats-block h3{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}
.stats-block p{
    color: #ffffff;
}
.stats-block img{
  height: 78px;
  margin: 20px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 15px;
}
.partners-block img{
    height:120px;
    margin:0 10px 20px 10px;
}
/*.section-title h2.theme-after:after {
    width: 125px;
    content: "";
    position: absolute;
    bottom: 29px;
    left: 0;
    right: 0;
    height: 6px;
    margin: auto;
    z-index: -1;
    background: #ea2175;
}*/
.section-services {
  padding:0 !important;
}
.services-block h3{
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
}
.section-services a:hover{
    text-decoration: none;
}
.services-block p{
    color: #ffffff;
}
.services-block img{
    margin:20px;
}
.services-block {
  height:380px;
    padding:120px 15px;
    -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.services-block:hover h3, .services-block.active h3 {
    color:#ffffff;
}
.services-block-bg-1 {
  transition: all 0.5s;
  background-position: center !important;
    background: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,10)), url(https://common-mmg.s3.ap-south-1.amazonaws.com/mg-bg-2.jpg);
}
.services-block-bg-1:hover {
    background: linear-gradient(180deg,rgba(0,0,0,0.10),rgba(0,0,0,10)), url(https://common-mmg.s3.ap-south-1.amazonaws.com/mg-bg-2.jpg);
}
.services-block-bg-2 {
  transition: 0.5s;
  background-position: center !important;
    background: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,10)), url(https://common-mmg.s3.ap-south-1.amazonaws.com/mg-bg-1.jpg);
}
.services-block-bg-2:hover {
    background: linear-gradient(180deg,rgba(0,0,0,0.10),rgba(0,0,0,10)), url(https://common-mmg.s3.ap-south-1.amazonaws.com/mg-bg-1.jpg);
}
.services-block-bg-4 {
  transition: 0.5s;
  background-position: center !important;
    background: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,10)), url(https://common-mmg.s3.ap-south-1.amazonaws.com/mg-bg-4.jpg);
}
.services-block-bg-5 {
  transition: 0.5s;
  background-position: center !important;
    background: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,10)), url(https://common-mmg.s3.ap-south-1.amazonaws.com/mg-bg-5.jpg);
}
/* Section Stats Ends */
/* Menu Styles */
/* Singale Menu */
.custom-header-nav {
    box-shadow: 0 8px 50px -6px rgba(84,84,120,.26);
    padding:0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding-top: 0;
    padding-bottom: 0;
}
.bg-theme-gradient {
    background: #610428;
    background: -webkit-linear-gradient(to right, #e21666, #610428);
    background: linear-gradient(to right, #e21666, #610428);
}
.m-dropdown {
    position: relative;
  }
  .m-dropdown-multilevel .m-dropdown-menu {
    margin: 0;
    padding: 5px 0;
    background: #fff;
    width: 100%;
  }
  .m-dropdown-multilevel .m-dropdown-menu li {
    list-style-type: none;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
  }
  
  .m-dropdown-multilevel .m-dropdown-menu li a {
    text-align: left;
    font-size: 13px;
    color: #323232;
    text-transform: capitalize;
    margin: 0;
    display: block;
    position: relative;
    left: 0;
    padding: 8px 0;
    font-weight: 600;
  }
  .m-dropdown-multilevel .m-dropdown-menu li a:hover {
    color: #000;
  }
  
  
  .m-dropdown-multilevel .m-dropdown-menu ul {
    margin: 0;
    padding: 13px 0 15px;
    background: #fff;
    width: 100%;
  }
  
  @media (min-width: 992px){
    .m-dropdown > a::after {
      display: inline-block;
      width: 0px;
      height: 0px;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0px;
      border-left: 0.3em solid transparent;
    }
  
    .m-dropdown-multilevel .m-dropdown-menu > li > ul,
    .m-dropdown-multilevel .m-dropdown-menu > li > ul > li > ul,
    .m-dropdown-multilevel .m-dropdown-menu > li > ul > li > ul > li > ul,
    .m-dropdown .m-dropdown-menu {
     -webkit-transition: all 400ms ease 0s;
              transition: all 400ms ease 0s;
     -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
      -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
              transform-origin: 0 0;
    }
  
    .m-dropdown-multilevel .m-dropdown-menu > li:hover > ul,
    .m-dropdown-multilevel .m-dropdown-menu > li > ul > li:hover > ul,
    .m-dropdown-multilevel .m-dropdown-menu > li > ul > li > ul > li:hover > ul,
    .m-dropdown:hover .m-dropdown-menu {
      -webkit-transition-delay: 200ms !important;
              transition-delay: 200ms !important;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      opacity: 1;
      visibility: visible;
  
    }
    .m-dropdown .m-dropdown-toggle {
      display: none;
    }
  
    /*Mega menu */
    .m-mega-menu {
      position: static !important;
    }
  
    .m-dropdown-mega-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 50;
      box-shadow: 0 8px 20px -8px rgba(84,84,120,.26);
    }
  
    .m-dropdown-multilevel .m-dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 50;
      width: 200px;
      box-shadow: 0 8px 20px -8px rgba(84,84,120,.26);
    }
  
    .m-dropdown-multilevel .m-dropdown-menu li.hover-trigger > a i {
      position: absolute;
      right: 0;
      font-size: 12px;
      margin-top: 0;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
    }
  
  
    .m-dropdown-multilevel .m-dropdown-menu > li > ul > li > ul > li > ul > li:hover > a,
    .m-dropdown-multilevel .m-dropdown-menu > li > ul > li > ul > li:hover > a,
    .m-dropdown-multilevel .m-dropdown-menu > li > ul > li:hover > a,
    .m-dropdown-multilevel .m-dropdown-menu > li:hover > a {
      left: 4px;
      color: #000;
      text-decoration: none;
    }
    .m-dropdown-multilevel .m-dropdown-menu > li a.active {
      color: #000;
    }
  
    .m-dropdown-multilevel .m-dropdown-menu ul {
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 50;
      width: 220px;
    }
    .m-dropdown-multilevel .m-dropdown-menu > li > ul {
      position: absolute;
      top: 0;
      left: 100%;
    }
    
  } /*@media*/
  
  @media (max-width: 991px){
    .m-dropdown .m-dropdown-toggle {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      color: #323232;
      height: 36px;
      width: 36px;
      text-align: center;
      line-height: 36px;
    }
    .m-dropdown a .fa-angle-down {
      display: none;
    }
    .m-dropdown .m-dropdown-menu {
      padding: 8px 15px;
      display: none;
      background: #f5f5f5;
    }
    .m-dropdown .m-dropdown-mega-menu {
      padding: 15px 0;
    }
    .m-dropdown .m-dropdown-menu.open-menu {
      display: block;
    }
    .m-dropdown-multilevel .m-dropdown-menu li {
      padding-left: 0;
      padding-right: 0;
      position: relative;
    }
    .m-dropdown-multilevel .m-dropdown-menu li.hover-trigger {
      margin-bottom: 10px;
    }
    .m-dropdown-multilevel .m-dropdown-menu li.hover-trigger > ul > li {
      border-top: 1px solid rgba(255, 255, 255, 0.07);
    }
    .m-dropdown-multilevel .m-dropdown-menu li.hover-trigger:last-child {
     margin-bottom: 0; 
    }
  
    .m-dropdown-multilevel .m-dropdown-menu li a .arrow {
      display: none;
    }
    .m-dropdown-multilevel .m-dropdown-menu li li {
      padding-left: 0;
      padding-right: 0; 
    }
    .m-dropdown-multilevel .m-dropdown-menu ul {
      padding: 0;
      float: none;
      background: #222;
    }
    .m-dropdown-multilevel .m-dropdown-menu ul.open-menu {
      display: block;
      border-bottom: 2px solid rgba(255,255,255,0.1);
      padding: 0 0 0px 10px;
      margin-bottom: 15px;
    }
    .m-dropdown-multilevel .m-dropdown-menu .open-menu-parent > a {
      color: #fff;
    }
  
    .mm-column {
      margin-bottom: 15px;
    }
    .mm-column:last-child {
     margin-bottom: 0; 
    }
    .mm-column li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    }
    
  }/*@media*/
/* Menu Styles Ends */
/* Home Banner */
.home-banner-02 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.home-banner-01 {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.home-banner-02 .bg-effect {
    opacity: 0.06;
}
.bg-fixed {
    background-attachment: fixed !important;
}
.bg-cover {
    background-size: cover !important;
}
.bg-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bg-banner{
    background-position: center !important;
    background: linear-gradient(-90deg,rgba(0,0,0,0.2),rgba(0,0,0,10)), url(https://common-mmg.s3.ap-south-1.amazonaws.com/mg-bg-2.jpg);
}
.bg-banner-v2{
  background-position: center !important;
  background: linear-gradient(-90deg,rgba(226,22,102,0.9),rgba(147,20,69,10)), url(https://common-mmg.s3.ap-south-1.amazonaws.com/banner-effect-3.svg);
}
.bg-fixed {
  background-attachment: fixed;
}
.bg-cover {
  background-size: cover;
}
.bg-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-gray {
  background: #F7F7FD;
}
/* Home Banner Ends */
/* Section */
.section {
    padding: 40px 0;
}
.section-title h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px;
}
/* Section Ends */
/* Buttons,Backgrounds*/
.theme-before:before, .theme-after:after, .btn-theme, .btn-white:hover, .theme-hover:hover, .owl-nav > div, .theme-bg {
    background: #931445;
    background: -webkit-linear-gradient(to right, #e21666, #931445);
    background: linear-gradient(to right, #e21666, #931445);
    color:#fff;
}
.btn-theme:hover {
    background-image: linear-gradient(to right, #931445, #e21666);
}
.btn-theme:hover {
    color: #fff;
}
.dark-color {
    color: #222;
}
.white-color {
    color:#fff !important;
}
a, .theme-color, .mm-column li.mm-header > a, .mm-column li:not(.mm-header) a:hover, .btn-t-white:hover, .btn-white {
    color: #0575E6;
}
.font-weight-bold {
    font-weight:700;
}
.gray-bg {
    background: #F7F7FD;
}
.yellow-bg {
    background-color: #f7b500;
}
.pink-bg {
    background-color: #e21666;
}
/* Buttons Ends */
/* List */
.list-type {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-type li {
    position: relative;
    font-weight: 400;
    padding: 3px 0 3px 30px;
}
.list-type li i {
    position: absolute;
    left: 0px;
    top: 5px;
    content: "";
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    border-radius: 50%;
}
/* List Ends */
/* Collapse */
.subject-row {
    background: #fff;
    border-radius: 5px;
    margin: 0 0 10px;
    border: 1px solid #eee;
    border-bottom: 4px solid #eee;
}
.subject-row .subject-title {
    padding: 15px 20px 15px 55px;
    margin: 0;
    font-size: 14px;
    position: relative;
    font-weight: 400;
    cursor: pointer;
}
.subject-row .no {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    border-radius: 50%;
}
.subject-row .subject-body {
    padding: 20px;
    border-top: 1px solid #ddd;
}
.subject-menu {
    border: 1px solid #eee;
    border-bottom: 4px solid #eee;
    background: #fff;
}
.subject-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.subject-menu li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-bottom: 1px dashed #ddd;
    padding: 0;
}
.subject-menu li a {
    color: #323232;
    padding: 15px 16px 15px 30px;
    display: inline-block;
    position: relative;
    font-weight:700;
}
.subject-menu li:before {
    left: 16px;
    top: 24px;
    content: "";
    width: 7px;
    height: 7px;
}
.subject-menu li:after {
    left: 12px;
    top: 20px;
    content: "";
    width: 15px;
    height: 15px;
}
/* Collapse Ends */
/* Modal Window */
@media (min-width: 768px){
.modal-dialog {
    width: 370px;
    margin: 30px auto;
}
}
.modal-header {
    background-image: linear-gradient(to right, #0575E6, #0575E6);
    color:#ffffff;
    text-align: center;
}
.modal-content {
    border-radius:0px;
}
/* Modal Window Ends */
/* Forms */
.login-modal .form-group .form-control {
    outline: none;
    box-shadow: none;
    height: 35px;
    border: 1px solid #d4d4d4;
    width: 100%;
    font-size: 14px;
    color: #000;
    background: #f7fafc;
    border-radius: 0;
}
/* Forms Ends */
#second {
    display:none;
}
.yellow-text {
    color: #f7b500 !important;
  }

  /* Card Booking Block */
  .card-booking-block {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      background:rgba(255, 255, 255, 0.9);
      border-radius: 15px;
  }
  /* Card Booking Block Ends */

  /* Owl Carousel */
  /* Owl Carousel Navs */
  .owl-theme .owl-nav [class*=owl-]{
    background: transparent !important;
    color: #FFF;
    text-decoration: none;
  }
  /* .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
  } */
  

  
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    z-index: 5;
    display: inline-block;
  }
  
  .owl-nav .owl-prev:focus,
  .owl-nav .owl-next:focus {
    outline: none;
  }
  
  .owl-nav .owl-prev:hover,
  .owl-nav .owl-next:hover {
    outline: none;
  }
  
  .owl-nav .owl-prev:hover i,
  .owl-nav .owl-next:hover i {
    background: rgba(255, 255, 255, 0.10);
  }
  
  .owl-nav .owl-next {
    right: 0px;
  }
  
  .owl-nav .owl-prev {
    left: 0px;
    opacity: 0;
  }
  
  .owl-nav i {
    color: #FFFFFF;
    line-height: 48px;
    width: 48px;
    height: 48px;
    font-size: 18px !important;
    border-radius: 0;
    opacity: 1;
    transition: 0.5s;
    padding: 0px 0px;
  }

  /* Feature Box */
  .feature-box-02 {
    text-align: center;
    border-right:1px dashed #dddddd;
    border-bottom:1px dashed #dddddd;
    padding:20px 20px;
    height:200px;
  }
  .feature-box-02 .icon {
    text-align: center;
    margin: 0 0 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    z-index: 1;
}
.feature-box-02 .icon i {
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
  background: #ffffff;
  color: #df1665;
  display: inline-block;
}
  .feature-box-03 {
    text-align: center;
    position: relative;
    /* padding-left: 85px; */
  }
  
  .feature-box-03 .icon {  
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .feature-box-03 .icon .theme-after {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    background: #fff;
    text-align: center;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
  }
  
  .feature-box-03 .icon:after {
    content: "";
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.1;
  }
  
  .feature-box-03 h5 {
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 10px;
  }
  .feature-box-03 p {
    margin: 0;
    padding-right: 40px;
  }
  .feature-box-03 .feature-content img {
    margin-bottom:20px;
  }
  /* Feature Box Ends */

  .rotate-icon {
    transform: rotate(110deg);
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    /*height: 2.75rem;*/
    overflow-y: hidden;
}

.nav-mobile .nav-link{
  color:#333333;
}
.nav-mobile .nav-link.active{
  color:#df1665;
  font-weight:700;
  border-bottom:2px solid #df1665;
}
.bottom-nav {
  box-shadow: 0 -20px 5px -20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav-bottom li a{
  background: #F8F9FA;
  text-align:center;
  color:#333333;
  font-size:12px;
  padding:6px 5px;
  transition: 0.5s;
}

.nav-bottom li a:hover{
  background: #e21666;
  color:#ffffff;
}
.nav-bottom li{
  border-right:1px solid rgba(0, 0, 0, 0.20);
}
.nav-bottom li a i{
  display: block;
  padding:3px 0;
  font-size: 16px;
  color:rgba(0, 0, 0, 0.5);
}
.nav-bottom li a:hover i{
  color:#ffffff;
}

/* Timeline */
.timeline {
  position: relative;
  padding:20px 20px;
}

.timeline:before {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100%;
  content: '';
  border-right: 2px solid #e9ecef
}

[data-timeline-axis-style=dashed]:before {
  border-right-style: dashed!important
}

[data-timeline-axis-style=dotted]:before {
  border-right-style: dotted!important
}
.timeline-block {
  position: relative;
  margin: 5em 0
}

.timeline-block:after {
  display: table;
  clear: both;
  content: ''
}

.timeline-block .badge-primary {
  color: #fff;
  background-color: #df1665;
}

.timeline-block:first-child {
  margin-top: 0
}

.timeline-block:last-child {
  margin-bottom: 0
}

.timeline-step {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  left: 0;
  display: inline-flex;
  width: 60px;
  height: 60px;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center
}

.timeline-step i,
.timeline-step svg {
  line-height: 1.4;
  font-size:24px;
}

.timeline-step-icon {
  border: 2px solid #e9ecef;
  background: #fff
}

.timeline-step-xs {
  font-size: .75rem;
  width: 17px;
  height: 17px
}

.timeline-step-sm {
  font-size: .75rem;
  width: 23px;
  height: 23px
}

.timeline-step-lg {
  font-size: 1.75rem;
  width: 47px;
  height: 47px
}

.timeline-content {
  position: relative;
  position: relative;
  top: -6px;
  margin-left: 60px;
  padding-top: .5rem
}

.timeline-content:after {
  display: table;
  clear: both;
  content: ''
}

.timeline-body {
  padding: 1.5rem
}

@media (min-width:992px) {
  .timeline:before {
      left: 50%;
      margin-left: -2px
  }
  .timeline-step {
      left: 50%
  }
  .timeline-content {
      width: 38%
  }
  .timeline-body {
      padding: 1.5rem
  }
  .timeline-block:nth-child(even) .timeline-content {
      float: right
  }
  [data-timeline-axis-color=primary]:before {
      border-color: #df1665
  }
  [data-timeline-axis-color=secondary]:before {
      border-color: #f7fafc
  }
  [data-timeline-axis-color=success]:before {
      border-color: #2dce89
  }
  [data-timeline-axis-color=info]:before {
      border-color: #11cdef
  }
  [data-timeline-axis-color=warning]:before {
      border-color: #fb6340
  }
  [data-timeline-axis-color=danger]:before {
      border-color: #f5365c
  }
  [data-timeline-axis-color=light]:before {
      border-color: #adb5bd
  }
  [data-timeline-axis-color=dark]:before {
      border-color: #212529
  }
  [data-timeline-axis-color=default]:before {
      border-color: #172b4d
  }
  [data-timeline-axis-color=white]:before {
      border-color: #fff
  }
  [data-timeline-axis-color=neutral]:before {
      border-color: #fff
  }
  [data-timeline-axis-color=darker]:before {
      border-color: #000
  }
}

@media (min-width: 576px){
.text-sm-center {
    text-align: center!important;
}
}
@media (max-width: 575.98px) { 
  .text-sm-center {
    text-align: center!important;
}
 }

.timeline-one-side:before {
  left: 2.3rem;
}

.timeline-one-side .timeline-step {
  left: 1rem
}

.timeline-one-side .timeline-content {
  width: auto
}

@media (min-width:992px) {
  .timeline-one-side .timeline-content {
      max-width: 30rem
  }
}

.timeline-one-side .timeline-block:nth-child(even) .timeline-content {
  float: none
}
/* Timeline Ends */

/* List Type 01 */
.list-type-01 li {
  position: relative;
  font-weight: 400;
  padding: 2px 0 3px 25px;
}
.list-type-01 {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-type-01 li:before {
  position: absolute;
  left: 4px;
  top: 11px;
  content: "";
  width: 8px;
  height: 8px;
  text-align: center;
  background: #fff;
  font-size: 10px;
  line-height: 20px;
  border-radius: 50%;
  z-index: 1;
}
.list-type-01 li:after {
  position: absolute;
  left: 0px;
  top: 7px;
  content: "";
  width: 16px;
  height: 16px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  border-radius: 50%;
}
/* List Type 01 Ends */

/* Goto Top */
.floating-action {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000;
}
.floating-action a:hover{
  background: #df1665;
}
/* Goto Top Ends */

@media (max-width: 991.98px){
.p-0px-tb-sm {
  padding-top:0px;
  padding-bottom:40px;
}
.custom-header-nav {
  position: relative;

}
}

/* Team Styles */
.our-team {
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  border: 1px solid #eee;
  border-bottom: 4px solid #eee;
}
.our-team .team-avtar {
  position: relative;
  overflow: hidden;
  transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
}
.our-team .team-info {
  padding: 20px 15px;
  text-align: center;
  border-top: 1px solid #eee;
}
.our-team .team-info h6 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}
.our-team .team-info label {
  margin: 0;
  font-size: 13px;
}
/* Team Styles Ends */
.owl-carousel.mobile-app .owl-item img {
  width: 380px !important;
 display: initial;
}
/* testimonial */
.testimonial {
  background: rgba(0, 0, 0, 0.05);
  padding:15px 15px;
  color:#ffffff;
  border-radius:15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.testimonial p{
  opacity: 0.8;
  font-weight:normal;
}

.testimonial .user-icon i{
  font-size:40px;
  margin:20px 0px;
}

.border-left-testimonial {
  border-left: 1px solid rgba(255, 255, 255, 0.2)!important;
}


  