@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
.mmg-theme
{
    color: #931445!important;
}

.mmg-theme-background
{
    background: #931445!important;
}

.cursor-pointer {
    cursor:pointer;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.color-button {
    background: #ff4081 !important;
}

.color-accent {
    color: #ff4081 !important;
}

.color-maroon {
    color: maroon !important;
}

hr.seperator {
    border-top: 2px solid #ff4081;
}

hr.seperator-line {
    border-top: 2px dotted #ff4081;
}

hr.seperator-black {
    border-top: 1px solid;
}

.color-accent-background {
    background: #dd1563 !important;
}

.color-accent-border {
    border-color: #dd1563 !important;
}

.mat-display-block {
    display: block !important;
}

.fasize {
    font-size:30px;
}

.color-button-close {
    background: maroon !important;
}

.tw-10 {
    width:20%
}

.tw-20 {
    width:20%
}

.tw-40 {
    width:40%
}

.tw-15 {
    width:15%
}

.tw-25 {
    width:15%
}

.tw-30 {
    width:30%
}

.modal-size {
    min-height:250px;
    min-width:250px;
}

.center-padding {
    margin-left: 100px;
    margin-right: 100px;
}

.hideDiv {
    margin-left: 33%;
    margin-right: 33%;
}

@media screen and (max-width: 850px) {
    .center-padding {
        margin-left: 0px;
        margin-right: 0px;
    }
    .hideDiv {
        margin-left: 0px;
        margin-right: 0px;
    }
    
}

.mt-custom {
    margin-top: 1.2rem!important;
}

.img-size-adjust {
    height: 50px;
    width: 50px;
}

.pull-right {
    float: right; 
}

.pull-left {
    float: left; 
}

.align-justify {
    text-align: justify;
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:block;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:#ff4081;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

/* Angular material table responsive design */
@media screen and (max-width: 960px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }
    
    /*  Enable this to hide header */
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }

    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}

    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
  }