<div class= "detais">
  <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>EMPLOYEE DETAILS</mat-card-title>
      </mat-card-header>
  <hr/>
  <div *ngIf="employee">
    <div>
      <mat-label><b>EMPLOYEE ID: </b></mat-label> {{employee.id}}
    </div>
    <div>
      <mat-label><b>FIRSNAME:</b></mat-label> {{employee.firstName}}
    </div>
    <div>
      <mat-label><b>LASTNAME: </b></mat-label> {{employee.lastName}}
    </div> 
    <div>
      <mat-label><b>GENDER: </b></mat-label> {{employee.gender}}
    </div>
    <div>
      <mat-label><b>STATUS: </b></mat-label> {{employee.status}}
    </div> 
    <div>
      <mat-label><b>PHONENUMBER: </b></mat-label> {{employee.phoneNumber}}
    </div> 
    <div>
      <mat-label><b>EMAIL: </b></mat-label> {{employee.email}}
    </div>  
    <div>
      <mat-label><b>ADDRESS: </b></mat-label> {{employee.address}}
    </div>  
    <div>
      <mat-label><b>PANCARD NO: </b></mat-label> {{employee.panCardNo}}
    </div>  
  </div> 
  <br>
  <button (click)="list()" mat-raised-button style="background-color:  #d11761">Back to Employee List</button><br>
</mat-card>
  </div>