
    <!-- <li class="nav-item"> -->
        <!-- <a routerLink="employees" class="nav-link" routerLinkActive="active">EMPLOYEE LIST</a>
    </li>
    <li class="nav-item"> -->
        <!-- <a routerLink="add" class="nav-link" routerLinkActive="active">ADD EMPLOYEE</a> --> -->
    <!-- </li> -->
<!-- <app-create-employee></app-create-employee> -->

<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>
    <div class="card">
        <div class="card-body">
            <app-employee-list></app-employee-list>
        </div>
    </div>
</div>