<div class="center-content">
  <h2 mat-dialog-title>Add Employee Details</h2>       
        <form [formGroup]="studentform" (ngSubmit)="addEmployee()">   
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput type="text" class="form-control" name="firstName" formControlName="firstName"
              placeholder="First Name *">
              <mat-error *ngIf="hasError('firstName', 'required')">'First Name Required'</mat-error>  
              <mat-error *ngIf="hasError('firstName', 'pattern')">'Please Provide a proper Name, Name should be in alphabet!'</mat-error>
              <mat-error *ngIf="hasError('firstName', 'maxlength')">'Max length Reached!!'</mat-error> 
              <mat-error *ngIf="hasError('firstName', 'minlength')"> 'Minimum 2 letters required'</mat-error>  
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>lastname</mat-label>
                <input matInput type="text" class="form-control" name="lastName" formControlName="lastName"
              placeholder="Last Name *">
              <mat-error *ngIf="hasError('lastName', 'required')">'Last Name Required'</mat-error>
              <mat-error *ngIf="hasError('lastName', 'pattern')">'Please Provide a proper Name, Name should be in alphabet!'</mat-error>
              <mat-error *ngIf="hasError('lastName', 'maxlength')">'Max length Reached!!'</mat-error>
              <mat-error *ngIf="hasError('lastName', 'minlength')">'' Minimum 2 letters required'</mat-error>
            </mat-form-field>
            <div class="gendercss">
              <mat-radio-group class="example-radio-group" name="gender" formControlName="gender">
                <mat-radio-button class="example-radio-button" *ngFor="let genderId of genders" [value]="genderId.val">
                  {{genderId.val}} &nbsp;
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field class="example-full-width">
              <mat-label>phoneNumber</mat-label>
              <input matInput type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber"
            placeholder="phoneNumber *">
            <mat-error *ngIf="hasError('phoneNumber', 'required')">'phoneNumber Required'</mat-error>
            <mat-error *ngIf="hasError('phoneNumber', 'pattern')">'Please Provide a proper phoneNumber!'</mat-error>

          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>email</mat-label>
            <input matInput type="text" class="form-control" name="email" formControlName="email"
          placeholder="email *">
          <mat-error *ngIf="hasError('email', 'required')">'email Required'</mat-error>
          <!-- <mat-error *ngIf="hasError('email', 'pattern')">'Please  Provide a proper email!'</mat-error> -->
        </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput type="text" class="form-control" name="address" formControlName="address"
                placeholder="Address Line *">
                <mat-error *ngIf="hasError('address', 'required')"> Address Required</mat-error>
                <mat-error *ngIf="hasError('address', 'maxlength')">'Max length Reached!!'</mat-error>
                <mat-error *ngIf="hasError('address', 'minlength')"> minimum 2 letters required</mat-error>
           </mat-form-field>

           <mat-form-field class="example-full-width">
            <mat-label>panCardNo</mat-label>
            <input matInput type="text" class="form-control" name="panCardNo" formControlName="panCardNo"
          placeholder="panCardNo *">
          <mat-error *ngIf="hasError('panCardNo', 'required')">'panCardNo Required'</mat-error>
          <mat-error *ngIf="hasError('panCardNo', 'pattern')">'Please Provide a panCardNo!'</mat-error>
          
        </mat-form-field>
           <mat-dialog-actions class="pull-right">
            <button mat-raised-button matTooltip="Click here adding bank details" [disabled]="studentform.invalid" type="submit" mat-raised-button color="accent"  class="submit">Submit</button>
        <!--  [disabled]="studentform.invalid" this is used to deseble the button if the fiels are invalid-->
        <button mat-raised-button class="color-button-close text-white" (click)="close()">
          Close
        </button>&nbsp;
      </mat-dialog-actions>
    </form>
</div>