<header>
    <nav class="navbar header-nav custom-header-nav navbar-expand-lg bg-theme-gradient">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/ownerDashboard']">
                <img src="https://s3.ap-south-1.amazonaws.com/common-mmg/MMG+LOGOv2.png" width="120" title="" alt="MMG">
            </a>
            <a class="text-white font-weight-bold d-lg-none d-sm-block d-md-block cursor-pointer"
                href="tel:901 902 903 6">
                <i class="fas fa-phone mr-2 rotate-icon"></i>901 902 903 6</a>
            <a class="navbar-toggler d-none" aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fas fa-bars text-white"></span>
            </a>
            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbar">
                <div class="mr-auto pt-2 pl-3 border-left">
                    <h5 class="text-white font-weight-bold cursor-pointer">
                        <i class="fas fa-phone mr-2 rotate-icon"></i><a class="text-white" href="tel:901 902 903 6">901
                            902 903 6</a></h5>
                </div>
                <ul class="navbar-nav ml-auto align-items-center">
                    
                    <li>
                        <a class="nav-link" [routerLink]="['/ownerDashboard']">Dashboard</a>
                    </li>
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link cursor-pointer">Onboarding </a>
                        <ul class="m-dropdown-menu">
                            <li>
                                <a [routerLink]="['/operationFranchiseenquiry']">Franchise Enquiry</a>
                            </li>
                            <li>
                                <a [routerLink]="['/operationFleetenquiry']">Fleet Enquiry</a>
                            </li>
                            <li>
                                <a [routerLink]="['/operationWarehouseenquiry']">Warehouse Enquiry</a>
                            </li>
                            <li>
                                <a [routerLink]="['/operationDriverrequest']">Driver Requests</a>
                            </li>
                            <li>
                                <a [routerLink]="['/operationVehiclerequest']">Vehicle Requests</a>
                            </li>
                            <li>
                                <a [routerLink]="['/operationLabourrequest']">Labour Requests</a>
                            </li>
                            <li>
                                <a [routerLink]="['/operationEnterpriserequest']">Enterprise Requests</a>
                            </li>
                        </ul>
                    </li>
                    <li class="m-dropdown m-dropdown-multilevel">
                        <a class="nav-link cursor-pointer">Bookings </a>
                        <ul class="m-dropdown-menu">
                            <li>
                                <a [routerLink]="['/franchiseBooking']">Franchise Bookings</a>
                            </li>
                            <li>
                                <a [routerLink]="['/offlineBooking']">Offline Bookings</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/operationBidding']">Bidding</a>
                    </li>
                    
                    <li class="m-dropdown m-dropdown-multilevel">
                        
                        <a class="user-profile dropdown-toggle nav-link header-font-override" href="#"
                            data-toggle="dropdown">
                            <img src="https://s3.ap-south-1.amazonaws.com/common-mmg/user.png" alt="" /><a>Operation Team</a>
                            <span class="caret"></span>
                        </a>
                        <ul class="m-dropdown-menu">
                            <li>
                                <a [routerLink]="['/ownerProfile']">Profile</a>
                            </li>
                            <li>
                                <a class="cursor-pointer" (click)="logout()"><i class="fa fa-sign-out pull-right"></i>
                                    Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="nav-scroller bg-white box-shadow shadow-sm d-lg-none d-sm-block d-md-block" *ngIf="slidesStore">
        <owl-carousel-o class="nav nav-underline nav-mobile" [options]="customOptions">
            <ng-container *ngFor="let slide of slidesStore">
                <ng-template carouselSlide><a class="nav-link" [ngClass]="{'active': slide.name==selectedSlide}"
                        (click)="changeCarousel(slide)">{{slide.name}}</a></ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>

    <div class="bottom-nav bg-white box-shadow fixed-bottom d-lg-none d-sm-block d-md-block">
        <ul class="nav nav-fill nav-bottom">
            <li class="nav-item" [ngClass]="{'active': item.name==selectedItem}" *ngFor="let item of bottomNavItems">
                <a class="nav-link cursor-pointer" (click)="bottomNavChange(item)">
                    <i [class]="item.class"></i>
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>
</header>