<div class="popup-modal-size">
    <h1 mat-dialog-title class="text-center">{{title}}</h1>
    <form [formGroup]="studentform">
    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input type="id" matInput placeholder="id" class="form-control" formControlName="id"[readonly]="true">
  </mat-form-field><br>
  
  <mat-form-field class="example-full-width">
<mat-label>First Name</mat-label>
<input type="firstname" matInput placeholder="firstname" class="form-control" formControlName="firstName"[readonly]="true">
  </mat-form-field>  
</form>
  <mat-dialog-actions class="pull-right">
      <button mat-raised-button color="accent" (click)="save()">
        Yes
      </button>
      <button mat-raised-button class="color-button-close text-white" (click)="close()">
        Close
      </button>&nbsp;
    </mat-dialog-actions>
  </div>