<div class="center-padding mt-4">
  <h1 class="text-center mt-2" mat-dialog-title>{{title}}</h1>
  <hr class="seperator">
  <div>
    <form [formGroup]="requestOtpForm">
      <div class="row no-gutters">
        <div class="col hideDiv">
          <mat-form-field class="mat-display-block">
            <input matInput type="text" class="form-control" name="mobileNumber" formControlName="mobileNumber"
              placeholder="Enter your Mobile Number Here *">
            <mat-error *ngIf="hasError('mobileNumber', 'required')">{{errorMsgs.REQUIRED}}</mat-error>
            <mat-error *ngIf="hasError('mobileNumber', 'pattern')">{{errorMsgs.MOBILE}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row no-gutters" *ngIf="no_email">
        <div class="col hideDiv">
          <mat-form-field class="mat-display-block">
            <input matInput type="text" class="form-control" name="emailId" formControlName="emailId" placeholder="Enter your E-mail (optional)">
            <mat-error *ngIf="hasError('emailId', 'pattern')">{{errorMsgs.EMAIL}}</mat-error>
            <mat-error *ngIf="hasError('emailId', 'maxlength')">{{errorMsgs.MAX_LENGTH}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="item form-group mt-2 text-center">
          <button mat-raised-button color="accent" [disabled]="requestOtpForm.invalid" (click)="requestOTP()">{{buttonTitle}}</button>
        </div>
      </div>
    </form>
    <form [formGroup]="submitOtpForm" class="mt-2" *ngIf="gotOTP">
      <div class="row no-gutters">
        <div class="col hideDiv">
          <mat-form-field class="mat-display-block">
            <input matInput type="text" class="form-control" name="otp" formControlName="otp" placeholder="Enter your OTP Here*">
            <mat-error *ngIf="hasErrorOtp('otp', 'required')">{{errorMsgs.REQUIRED}}</mat-error>
            <mat-error *ngIf="hasErrorOtp('otp', 'maxlength')">{{errorMsgs.MAX_FOUR}}</mat-error>
            <mat-error *ngIf="hasErrorOtp('otp', 'pattern')">{{errorMsgs.OTP}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="item form-group mt-2 text-center">
          <button mat-raised-button color="accent" [disabled]="submitOtpForm.invalid" (click)="submitOTP()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>