<div class="centeralignforupdate"> 
  <div class="card">
    <div class="card-body"> 
<h3>Update Employee</h3>
<div style="width: 400px;">
  <form >
    <div class="form-group">
      <label for="name"> id</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="employee.id" name="id">
    </div>

     <div class="form-group">
      <label for="name">firstName</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
    </div> 
    <div class="form-group">
      <label for="name">lastName</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="name">gender</label>
      <input type="text" class="form-control" id="gender" required [(ngModel)]="employee.gender" name="gender">
    </div>
    <div class="form-group">
      <label for="name">address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="employee.address" name="address">
    </div>

    <button type="submit" class="btn btn-success" (click)="updateEmployee(employee.firstName,employee.lastName,employee.gender,employee.address)">Submit</button>
  </form>
</div>
</div>
</div>
</div>