.centeralignforupdate{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-left:30%;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    min-width: 0;
}