<section class="section section-services">
  <div class="container-fluid p-0">
    <div class="row text-center justify-content-center align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-6 px-0">
        <a [routerLink]="['/vehicle']">
          <div class="services-block services-block-bg-1">
            <h3 class="font-weight-bold">Attach your Truck</h3>
            <a [routerLink]="['/vehicle']" class="btn btn-outline-light btn-lg mt-4">Attach Now<i class="fas fa-angle-double-right ml-1"></i></a>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 px-0">
        <a [routerLink]="['/franchise']">
          <div class="services-block services-block-bg-2">
            <h3 class="font-weight-bold">Become a Franchise</h3>
            <a [routerLink]="['/franchise']" class="btn btn-outline-light btn-lg mt-4">Signup Now<i class="fas fa-angle-double-right ml-1"></i></a>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>