<section id="faqs" class="section">
  <div class="container">
    <h1 class="text-center" mat-dialog-title>FAQs</h1>
    <hr class="seperator">
    <div *ngFor="let template of faqTemplate">
      <p class="font-weight-bold"><u>{{template.title}}</u></p>
      <ul *ngFor="let list of template.data">
        <li>
          <p class="font-weight-bold">{{list.question}}</p>
          <p *ngIf="list.heading">{{list.heading}}</p>
          <ul *ngFor="let item of list.answers">
            <li class="align-justify">{{item.ans}}</li>
          </ul>
          <div *ngIf="list.footer" class="mt-2">
            <p *ngFor="let data of list.footer" class="align-justify">{{data.content}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>