<div class="center-content">
    <h2 mat-dialog-title>Update</h2>
         <form [formGroup]="studentform">
         
             <mat-form-field class="example-full-width">
                 <mat-label>Id</mat-label>
                 <input type="id" matInput placeholder="id" class="form-control" formControlName="id" [readonly]="true">
             </mat-form-field>
             
             <mat-form-field class="example-full-width">
                 <mat-label>First Name</mat-label>
                 <input type="firstname" matInput placeholder="firstname"  class="form-control" formControlName="firstName">
                 <mat-error *ngIf="hasError('firstName', 'required')">First Name Required</mat-error>  
               <mat-error *ngIf="hasError('firstName', 'pattern')">please Provide a proper Name, Name should be in alphabet!</mat-error>
               <mat-error *ngIf="hasError('firstName', 'maxlength')">'Max length Reached!!'</mat-error> 
               <mat-error *ngIf="hasError('firstName', 'minlength')"> minimum 2 letters required</mat-error>
             </mat-form-field>
 
             <mat-form-field class="example-full-width">
                 <mat-label>lastname</mat-label>
                 <input type="lastname" matInput placeholder="lastname"  class="form-control" formControlName="lastName">
                 <mat-error *ngIf="hasError('lastName', 'required')"> Last Name Required</mat-error>
                 <mat-error *ngIf="hasError('lastName', 'pattern')">please Provide a proper Name, Name should be in alphabet!</mat-error>
                 <mat-error *ngIf="hasError('lastName', 'maxlength')">'Max length Reached!!'</mat-error>
             </mat-form-field>
 
             <mat-form-field class="example-full-width">
                <mat-label>phoneNumber</mat-label>
                <input matInput type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber"
              placeholder="phoneNumber *">
              <mat-error *ngIf="hasError('phoneNumber', 'required')">'phoneNumber Required'</mat-error>
              <mat-error *ngIf="hasError('phoneNumber', 'pattern')">'Please Provide a proper phoneNumber!'</mat-error>
  
            </mat-form-field>
  
            <!-- <mat-form-field class="example-full-width">
              <mat-label>email</mat-label>
              <input matInput type="text" class="form-control" name="email" formControlName="email"
            placeholder="email *">
            <mat-error *ngIf="hasError('email', 'required')">'email Required'</mat-error>
            <mat-error *ngIf="hasError('email', 'pattern')">'Please  Provide a proper email!'</mat-error>
          </mat-form-field> -->
  
             <mat-form-field class="example-full-width">
                 <mat-label>Address</mat-label>
                 <input type="address" matInput placeholder="address" class="form-control" formControlName="address">
                 <mat-error *ngIf="hasError('address', 'required')"> Address Required</mat-error>
                 <mat-error *ngIf="hasError('address', 'maxlength')">'Max length Reached!!'</mat-error>
                 <mat-error *ngIf="hasError('address', 'minlength')"> minimum 2 letters required</mat-error>
             </mat-form-field>
             <mat-form-field class="example-full-width">
                <mat-label>panCardNo</mat-label>
                <input matInput type="text" class="form-control" name="panCardNo" formControlName="panCardNo"
              placeholder="panCardNo *">
              <mat-error *ngIf="hasError('panCardNo', 'required')">'panCardNo Required'</mat-error>
              <mat-error *ngIf="hasError('panCardNo', 'pattern')">'Please Provide a panCardNo!'</mat-error>
              
            </mat-form-field>
     </form>
     <mat-dialog-actions class="pull-right">
         <button mat-raised-button color="accent"(click)="updateEmployee(employee)">update</button>
         <button mat-raised-button class="color-button-close text-white"(click)="close()">close</button>
     </mat-dialog-actions>
     
 
 </div>