.center-content{
    text-align: -webkit-center;
    }
.example-card {
        max-width: 600px;
        margin-top: 50px;
      }
.example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        margin-top: -400;
      }  

.example-full-width {
        width: 100%;
        margin-top: 10px;
      }
.mat-button{
        margin-top: 10px;
        width: 100%;
        color: white;
        height: 50px;
        background-color: rebeccapurple;
      }