<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Fleet Operators</span><span class="float-right font-weight-bold" *ngIf="fleetCount">{{fleetCount.total}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationFleet']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Active Fleet Operators</span><span class="float-right font-weight-bold" *ngIf="activefleetCount">{{activefleetCount.fleetActivate}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationFleet']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Inactive Fleet Operators</span><span class="float-right font-weight-bold" *ngIf="inactivefleetCount">{{inactivefleetCount.tofleetOperatortal}}</span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/operationFleet']">
                    <h1><i class="fas fa-warehouse color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>