<div class="container mt-4">
  <h1 class="text-center" mat-dialog-title>FRANCHISE ENQUIRY</h1>
  <hr class="seperator">
  <form [formGroup]="bookForm" class="ml-2 mt-2">
    <div class="row no-gutters">
      <div class="col mr-2">
        <label class="font-weight-bold">Request Number</label>
        <mat-form-field class="mat-display-block">
          <input matInput type="text" class="form-control" [readonly]="true" name="bookingId" formControlName="bookingId" >
          <mat-error *ngIf="hasError('bookingId', 'required')">Field is Required</mat-error>
        </mat-form-field>
      </div>
      <div class="col mr-2">
        <label class="font-weight-bold">Name</label>
        <mat-form-field class="mat-display-block">
          <input matInput type="text" class="form-control" [readonly]="true" name="customerName" formControlName="customerName" >
          <mat-error *ngIf="hasError('customerName', 'required')">Field is Required</mat-error>
        </mat-form-field>
      </div>
      <div class="col mr-2">
        <label class="font-weight-bold">Contact Number</label>
        <mat-form-field class="mat-display-block">
          <input matInput type="text" class="form-control" [readonly]="true" name="mobileNumber" formControlName="mobileNumber" >
          <mat-error *ngIf="hasError('mobileNumber', 'required')">Field is Required</mat-error>
        </mat-form-field>
      </div>

      <div class="row no-gutters">
          <div class="col mr-2">
            <label class="font-weight-bold">Email-ID</label>
            <mat-form-field class="mat-display-block">
              <input matInput type="text" class="form-control" [readonly]="true" name="source" formControlName="source" >
              <mat-error *ngIf="hasError('source', 'required')">Field is Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col mr-2">
            <label class="font-weight-bold">State</label>
            <mat-form-field class="mat-display-block">
              <input matInput type="text" class="form-control" [readonly]="true" name="destination" formControlName="destination" >
              <mat-error *ngIf="hasError('destination', 'required')">Field is Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col mr-2">
              <label class="font-weight-bold">City</label>
              <mat-form-field class="mat-display-block">
                <input matInput type="text" class="form-control" [readonly]="true" name="source" formControlName="source" >
                <mat-error *ngIf="hasError('source', 'required')">Field is Required</mat-error>
              </mat-form-field>
          </div>
      </div> 
          <div class="col-sm-12">
            <div class="item form-group mt-2 text-center" *ngIf="scheduleFlag==false">
              <!-- <div *ngIf="bookInfo.status == 'PENDING'"> -->
                <button mat-raised-button color="accent" (click)="acceptBooking(bookInfo)">Accepted</button> &nbsp;/&nbsp;
                <button mat-raised-button class="color-button-assign text-white" (click)="assignedBooking()">Assigned</button> &nbsp;/&nbsp;
                <button mat-raised-button class="color-button-close text-white" (click)="fieldCheck()">Field Check</button> &nbsp;/&nbsp;
                <button mat-raised-button class="color-button-cancel text-white" (click)="cancelBooking(bookInfo)">Cancel</button>
            </div>
            <div class="item form-group mt-2 text-center" *ngIf="scheduleFlag==true">
              <button mat-raised-button class="color-button-assign text-white" (click)="assignedBooking()">Assigned</button> &nbsp;/&nbsp;
              <button mat-raised-button class="color-button-close text-white" (click)="fieldCheck()">Field Check</button> &nbsp;/&nbsp;
              <button mat-raised-button class="color-button-cancel text-white" (click)="cancelBooking()">Cancel</button>
            </div>
          </div>
    </div>
