<div class="container mt-4">
    <h1 class="text-center" mat-dialog-title>CUSTOMER</h1>
    <hr class="seperator">
    <div class="row">
        <div class="justify-content-end">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
            </mat-form-field>
            
        </div>
    </div>
    <div>
        <mat-tab-group (selectedTabChange)="tabChange($event)">
            <mat-tab *ngFor="let list of tabList " [label]="list.label">
               
                
                <div class="example-container mat-elevation-z8 mt-2">
                    <mat-table [dataSource]="operationactiveCustomerview" matSort>

                        <ng-container matColumnDef="firstName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="firstName" class="cursor-pointer" (click)="firstName">
                             <u>{{element.firstName}} </u>
                                    
                            </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="mobileNumber">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Mobile Number
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="mobileNumber"> {{element.mobileNumber}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="emailId">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Email-ID</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="emailId"> {{element.emailId}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="creationDate">
                            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Request Date</mat-header-cell>
                            <mat-cell *matCellDef="let element" data-label="creationDate"> {{element.creationDate}} </mat-cell>
                        </ng-container>
                        
                        <mat-header-row *matHeaderRowDef="customerdisplayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: customerdisplayColumns;">
                        </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
