<section id="about" class="section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <!-- col -->
      <div class="col-md-7">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="section-title">
              <h2 class="dark-color theme-after">Attach your Truck</h2>
            </div>
          </div>
        </div>
        <div class="sub-title m-45px-b">

          <p class="align-justify">Attach you truck with MMG and shootup your income.
            With our intelligent catalog pricing model, we assure you always
            get best price for your effort and you can stay away from unreasonable
            bargaining. By becoming partner with us, you can say good bye to waiting.
            we assure to keep your hands always busy with trips.</p>
        </div>
        <a [href]="directionUrl" target="_blank" class="btn btn-theme btn-lg">Register Now</a>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 md-m-30px-b">
        <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
          <div class="timeline-block">
            <span class="timeline-step badge-primary">
              <i class="fas fa-question"></i>
            </span>
            <div class="timeline-content">
              <div class="d-flex justify-content-between pt-3">
                <div>
                  <span class="text-muted text-sm font-weight-bold">Inquire</span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-block">
            <span class="timeline-step badge-primary">
              <i class="fas fa-file-alt"></i>
            </span>
            <div class="timeline-content">
              <div class="d-flex justify-content-between pt-3">
                <div>
                  <span class="text-muted text-sm font-weight-bold">Submit Documents</span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-block">
            <span class="timeline-step badge-primary">
              <i class="fas fa-plane-departure"></i>
            </span>
            <div class="timeline-content">
              <div class="d-flex justify-content-between pt-3">
                <div>
                  <span class="text-muted text-sm font-weight-bold">Get Onboarded</span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-block">
            <span class="timeline-step badge-primary">
              <i class="fas fa-truck"></i>
            </span>
            <div class="timeline-content">
              <div class="d-flex justify-content-between pt-3">
                <div>
                  <span class="text-muted text-sm font-weight-bold">Start Getting Trips</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="section bg-gray">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02">
          <div class="icon theme-after">
            <i class="fas fa-rupee-sign theme-bg"></i>
          </div>
          <p>High Income</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02">
          <div class="icon theme-after">
            <i class="fas fa-question theme-bg"></i>
          </div>
          <p>Become Helper And Earn more</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02 border-right-0">
          <div class="icon theme-after">
            <i class="fas fa-rupee-sign"></i>
          </div>
          <p>Best Price Guaranteed</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02">
          <div class="icon theme-after">
            <i class="fas fa-route theme-bg"></i>
          </div>
          <p>End To End GPS Tracking</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02">
          <div class="icon theme-after">
            <i class="fas fa-cogs theme-bg"></i>
          </div>
          <p>Spare Parts And Fuel At Discounted Price</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02">
          <div class="icon theme-after">
            <i class="fas fa-piggy-bank"></i>
          </div>
          <p>Financial Support For Vehicle Purchase</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02 border-right-0">
          <div class="icon theme-after">
            <i class="fas fa-gift"></i>
          </div>
          <p>Monthly Bonus And Free Servicing Vouchers</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 px-0">
        <div class="feature-box-02 border-right-0">
          <div class="icon theme-after">
            <i class="fas fa-heartbeat"></i>
          </div>
          <p>Health Insurance Benifits For Drivers</p>
        </div>
      </div>
    </div>
  </div>
</section>