<div id="cover-spin" *ngIf="loading"></div>
<app-home-nav></app-home-nav>
<main>
    <div class="set-height p-80px-t p-sm-0px-t"><router-outlet></router-outlet></div>
</main>
<app-home-footer></app-home-footer>