<div class="container">
  <h1 class="text-center" mat-dialog-title>Employees List</h1>
  <hr class="seperator">
  <div class=""><br>
    <button (click)="addemployee1()" mat-raised-button style="background-color:  #d11761">Add Employees </button>&nbsp;&nbsp;
  <mat-radio-group aria-label="Select an option">
   <mat-radio-button value="1" name="employee" [checked]="true" (click)="get(employee)">All</mat-radio-button>&nbsp;
    <mat-radio-button value="2" (click)="active(true)">Active</mat-radio-button>&nbsp;
    <mat-radio-button value="3"name="employee" (click)="active(false)">Deactive</mat-radio-button>
  </mat-radio-group>&nbsp;&nbsp;&nbsp;&nbsp;

  <!-- <mat-form-field class=search>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
  </mat-form-field> -->
  <!-- value -->
  <mat-form-field class=search>
    <input matInput type="text" [(ngModel)]="searchWord1" (input)="searchEmployee(searchWord,searchWord1)">
  </mat-form-field>
  
<!-- <div class="search1"> -->
<mat-form-field appearance="fill" class=search1 >
  <mat-label>select to search</mat-label>
  <mat-select [(ngModel)]="searchWord" (keyup)="searchEmployee(searchWord)">
    <mat-option *ngFor="let key of keys" [value]="key">{{key}}</mat-option>
  </mat-select>
</mat-form-field>  
<!-- </div>                                                             -->
</div><br>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="employees" matSort>//data source is used for tables 

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15"> Employee ID </mat-header-cell>
        <mat-cell *matCellDef="let employee" data-label="id" class="cursor-pointer" (click)="viewBooking(employee)">
          <p>{{employee.id}}
            </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-15">   FirstName </mat-header-cell>
        
        <mat-cell *matCellDef="let employee" data-label="firstName">{{employee.firstName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> LastName </mat-header-cell>
        <!-- <mat-radio-button value="lastName"></mat-radio-button> -->
        <mat-cell *matCellDef="let employee" data-label="lastName"> {{employee.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30">Gender </mat-header-cell>
        <mat-cell *matCellDef="let employee" data-label="gender"> {{employee.gender}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30">Address </mat-header-cell>
        <mat-radio-button value="address"></mat-radio-button>
        <mat-cell *matCellDef="let employee" data-label="address"> {{employee.address}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="status">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20">Status </mat-header-cell>
        <mat-cell *matCellDef="let employee" data-label="status"> {{employee.status}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-20">Status </mat-header-cell>
        <mat-cell *matCellDef="let employee" data-label="status"> {{employee.status}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action" class= "actionl">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header class="tw-30"> Action </mat-header-cell>
        <mat-cell *matCellDef="let employee" data-label="action">
          <!-- <mat-slide-toggle [checked] =employee.status ></mat-slide-toggle>&nbsp;/&nbsp; -->
          <mat-slide-toggle [checked]=employee.status (click)="patchEmployee(employee.id,employee.status)"></mat-slide-toggle>&nbsp;&nbsp;
          <div *ngIf="isHide" class="cursor-pointer" matTooltip="Modify / Cancel ">
            
            <i class="fa fa-edit color-accent fasize" (click)="updateEmployee(employee.id,employee.firstName)"></i>
            &nbsp;&nbsp;
            <i class="fa fa-trash color-maroon fasize" (click)="deleteEmployee(employee.id,employee.firstName)"></i> &nbsp;&nbsp;
            <i class="fa fa-list  color-maroon fasize"(click)="employeeDetails(employee.id)"></i>&nbsp;&nbsp;       
          </div>      
          </mat-cell>
          
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>