table {
    width: 700%;

  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 16%;
  }
  .search{
    margin-left: 250px;
    margin-right: 20px;
    width: 180px
  }

  .search1{
   /* margin-left:1% ;  */
     margin-right: 0px; 
    /* margin-bottom:400x; */
    width:200px;
    }

  .actionl{
    width:70%;
    
  }
  .tw-30{
    width: auto;

  }
  .container{
   width:100%; 
   /* margin-left:100px;
    margin-right: 0px;  */
  }
  mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: inherit;
}

