<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Franchises</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoDriverList']">
                    <h1><i class="fas fa-user color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Fleet Operators</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Warehouses</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-warehouse color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Total Enquiry Requests</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-road color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Operation Team</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoVehicleList']">
                    <h1><i class="fas fa-user-plus color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Insurance </span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoLabourList']">
                    <h1><i class="fas fa-piggy-bank color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card text-white mb-3 border color-accent-border">
                <div class="card-header color-accent-background"><span class="font-weight-bold">Bidding</span><span class="float-right font-weight-bold"></span></div>
                <div class="card-body text-center cursor-pointer" [routerLink]="['/bdoDriverList']">
                    <h1><i class="fas fa-chart-bar color-accent fa-2x"></i></h1>
                </div>
            </div>
        </div>
</div>


